name: Tracer Testing
on: [push]
jobs:
  version-testing:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_cimg_tag: [ 14, 16, 18 ]
    name: Node ${{ matrix.node_cimg_tag }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node_cimg_tag }}
          architecture: x64
      - run: npm ci
      - run: npm run build
      - run: npm run test:unit
      - run: npm run test:component
      - run: npm run test:integration:version